.footer-dark {
  background: #000000e3;
}

/* prueba */

footer .btn.rounded-circle {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.form-control::placeholder { color: rgba(255,255,255,.6); }

