body {
  background-color: #111;
  font-family: 'Poppins', sans-serif;
}

/* Gradiente texto */
.text-gradient {
  background: linear-gradient(90deg, #ff00cc, #7a2cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Botón principal */
.btn-gradient {
  background: linear-gradient(90deg, #8a00ff, #ff007f);
  color: white;
  border: none;
}

.btn-gradient:hover {
  opacity: 0.85;
}

/* Fondo secciones */
.bg-dark-custom {
  background-color: #1c1c1c;
}

/* Cards */
.bg-card {
  background-color: #11122b;
}
