.navbar-dark-custom {
  background: #111;
  border-bottom: 1px solid #222;
}

.text-gradient {
  background: linear-gradient(90deg, #ff00d4, #8a2cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-contacto {
  background: linear-gradient(90deg, #7b2cff, #ff008c);
  color: white;
  font-weight: 700;
  border: none;
  padding: 4px 14px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-contacto:hover {
  transform: scale(1.05);
  opacity: 0.9;
  color: white;
}
.nav-link {
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* 👇 EFECTO HOVER */
.nav-link:hover {
  background: linear-gradient(90deg, #ff00d4, #8a2cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(90deg, #ff00d4, #8a2cff);
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
