<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>


<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold fs-3" routerLink="/">
      Super<span class="text-danger">Cars</span>
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item"><a class="nav-link" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/modelos">Modelos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/noticias">Noticias</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
      </ul>

      <a routerLink="/contacto" class="btn btn-outline-danger ms-lg-4">
        Contáctanos
      </a>
    </div>
  </div>
</nav>
